<div class="container"><BR>
<h1>Sightings</h1>
<p>Click author to see all by author</p>

<div id="sights">
<% @sights.each do |sight| %>
<div class="sight">
  <%= link_to sight.title, sight_path(sight) %>,
  posted by: <%= link_to sight.user.name,
  user_sights_path(sight.user) %>,
  category:
    <% ids = sight.category_ids %>
    <% categories = Category.find(ids) %>
    <%= categories.map { |category| category.name }.join(', ') %>
    <% end %>
  </div>
</div><BR><BR>

<a href="/sights/new" class="w7-button w7-1">add a sighting</a>
<a href="/sights" class="w7-button w7-1">full list</a><BR><BR>

<h4>See sights by category: air, land, water, other</h4>

<%= form_tag("/sights", method: "get") do %>
<%= label_tag(:category_name, "Which category?") %>
  <%= text_field_tag(:category_name) %>
  <%= submit_tag("Search") %>
<% end %>

<BR><p>You're logged in as: <%= current_user.name %></p>
</div>
