<h1>Share the nature you see!</h1><BR>

<%= link_to "About", "/about" %>
<%= link_to "Index", "/sights" %>

<%= link_to "Login", "/login" %><BR>
<%= link_to "Sign up", "/users/new" %><BR><BR>

<%= link_to "Logout", logout_path %>
