<h1>Share the nature you see!</h1><BR>

<%= link_to "About", "/about" %>
<%= link_to "Index", "/sights" %>

<%= link_to "Login", "/login" %><BR>
<%= link_to "Sign up", "/users/new" %><BR><BR>

<%= link_to('Log in with Facebook', '/auth/facebook') %><BR><BR>
<a href="/auth/facebook" class="w3-button w3-2">login with Facebook</a>

<%= link_to "Logout", logout_path %>
